:root {
  --blue: #0da0ba;
  --color-bg: #ffffff;
  --cyber-grape-20: #ddd6e3;
  --deep-purple: #602770;
  --green: #60d3bf;
  --grey-dark: #f6f6f6;
  --grey-light-30: #fcfcfd;
  --grey-light-50: #fafafc;
  --grey-light: #f6f6f9;
  --grey: #676767;
  --nero: #222222;
  --oragnge-salmon: #fad4c5;
  --orange-dark: #d6432a;
  --orange-light: #e34b31;
  --orange: #e34b31;
  --organge-talent: #fe3b1f;
  --purple-dark: #30183f;
  --purple-light: rgba(105, 31, 116, 0.3);
  --purple: #63006f;
  --violate-light: #e1dce2;
  --violet: #9081ac;
  --yellow: #db9714;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  overflow-x: hidden;
}

:link,
:visited {
  color: inherit;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.material-symbols-outlined {
  user-select: none;
}

header {
  align-items: center;
  animation: IntoAnimation 0.5s ease-in-out alternate-reverse;
  backdrop-filter: blur(0.31rem);
  background-color: #ffffffb9;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  justify-content: space-around;
  padding: 0.9rem 0.3rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

@keyframes IntoAnimation {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}

header a {
  font-size: 11pt;
  white-space: nowrap;
}

header .NavOptions,
header .AcessOptions {
  align-items: center;
  display: flex;
  gap: 0.6rem;
  justify-content: center;
}

header .NavOptions a {
  border-radius: 0.6rem;
  padding: 0.6rem;
  transition: background-color 0.3s;
}

header .NavOptions a:hover {
  background-color: var(--grey-light);
}

.LinkButton {
  border-radius: 1.5625rem;
  padding: 0.6rem 0.9rem;
  text-align: center;
  transition: background 0.3s;
}

.LinkButton.btn-white {
  border: 0.06rem solid var(--violate-light);
}
.LinkButton.btn-white:hover {
  background-color: var(--grey-dark);
}

.LinkButton.btn-orange {
  border: 0.06rem solid var(--orange);
  color: var(--orange);
}
.LinkButton.btn-orange:hover {
  background-color: var(--orange);
  color: var(--color-bg);
}

/* MenuToggleIcon */
.LabelMenuIcon {
  /* cursor: pointer; */
  display: flex;
  flex-direction: column;
  transform: scale(0.4);
  width: 4.3rem;
}

.LabelMenuIcon:hover {
  transform: scale(0.45);
}

.LabelMenuIcon span {
  background: var(--purple);
  border-radius: 0.6rem;
  height: 0.4rem;
  margin: 0.4rem 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.LabelMenuIcon span:nth-of-type(1) {width: 50%;}
.LabelMenuIcon span:nth-of-type(2) {width: 100%;}
.LabelMenuIcon span:nth-of-type(3) {width: 75%;}
.LabelMenuIcon input[type='checkbox'] {
  display: none;
}

.LabelMenuIcon input[type='checkbox']:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate3d(0.5rem, 0, 0);
}

.LabelMenuIcon input[type='checkbox']:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

.LabelMenuIcon input[type='checkbox']:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate3d(1.8rem, -0.68rem, 0) rotateZ(45deg);
}

/* ------------------- Main ------------------- */
main {
  align-items: center;
  animation: mainEntrance 0.3s ease-in-out alternate-reverse;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
}

@keyframes mainEntrance {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* ----------------- Sections ----------------- */
section {
  max-width: 68.75rem;
}

section.HomeSection {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1.8rem 0;
}

.AniPicture img {
  width: 100%;
  filter: drop-shadow(-1.2rem -0.12rem 0.93rem rgba(0, 0, 0, 0.25));
}

section.HomeSection:nth-child(2n) .AniPicture {
  order: 2;
}

.SectionInfo {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 1.2rem;
  width: 100%;
}

/* ------------- SearhJobs section ------------ */
/* .ContainerJobSearch {
} */

.SearchJobs {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.SearchJobsContainer {
  display: flex;
  align-items: flex-end;
  gap: 0.6rem;
}

.SearchBar {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.SearchBar .InputMask {
  display: flex;
  align-items: center;
  position: relative;
}

.SearchBar .InputMask input {
  background: #f5f5f5;
  border-radius: 1.5625rem;
  border: none;
  font-size: 12pt;
  padding: 0.93rem 2.5rem;
  transition: box-shadow 0.5s, outline 0.2s;
  width: 100%;
}
.SearchBar .InputMask input:hover {
  background: #ebe7e7;
}

.SearchBar .InputMask input::placeholder {
  color: rgb(167, 167, 167);
}

.SearchBar .InputMask input:focus {
  outline: 0.12rem solid var(--purple);
  box-shadow: 0 0 0.9rem #64006f4b;
}

.SearchBar .InputMask span {
  position: absolute;
}

.SearchBar .InputMask .InputIcon {
  left: 0.6rem;
  color: var(--purple);
}

.CloseBtn {
  border-radius: 50%;
  color: #7e7e7e;
  padding: 0.18rem;
  right: 0.62rem;
  transition: opacity 0.3s, background 0.3s;
}

.CloseBtn:hover {
  background-color: #e6e6e6;
  color: black;
}

.BtnForm {
  background-color: var(--orange);
  border: 0.06rem solid white;
  color: white;
  cursor: pointer;
  font-size: 12pt;
  padding: 0.93rem 1.2rem;
}

.BtnForm:hover {
  background-color: white;
  color: var(--orange);
  border: 0.06rem solid var(--orange);
}

.SearchJobsTags {
  width: 100%;
}

.SearchJobsTagsList {
  display: grid;
  gap: 0.93rem;
  grid-template-columns: repeat(auto-fill, minmax(6.25rem, 1fr));
}

a.SearchJobsTagsItem {
  align-items: center;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
a.SearchJobsTagsItem > div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

/* ------------- Jobs section ------------ */
section.JobResults {
  width: 100%;
  max-width: 93.7rem;
}

.JobResultsContainer {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.2rem;
}

.JobResultsTitles {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.JobResultsContent {
  display: flex;
  gap: 1.2rem;
  align-items: flex-start;
}

.JobList {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  width: 100%;
}

.JobItem {
  align-items: flex-start;
  background-color: white;
  border-radius: 0.93rem;
  box-shadow: 0rem 0rem 0.93rem rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  gap: 0.31rem;
  padding: 1.2rem;
  transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
  width: 100%;
}

.JobItem:hover {
  box-shadow: 0rem 0rem 0.93rem rgba(0, 0, 0, 0.25);
  transform: scale(1.01);
}

.JobInformation {
  animation: aparecer 0.3s ease-in-out alternate-reverse;
  background-color: white;
  border-radius: 0.93rem;
  box-shadow: 0rem 0rem 0.93rem rgba(0, 0, 0, 0.07);
  flex-basis: content;
  max-width: 50%;
  overflow-y: auto;
  padding: 1.2rem;
  position: sticky;
  top: 5.6rem;
  transform-origin: right;
}

@keyframes aparecer {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.JobInformation article {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.JobHead {
  align-items: flex-start;
  border-bottom: 0.06rem solid #a7a7a7;
  display: flex;
  gap: 0.6rem;
  justify-content: flex-start;
  padding-bottom: 0.6rem;
  width: 100%;
}

.InformationLogo {
  height: 6.25rem;
  display: flex;
  align-items: center;
}

.InformationLogo img {
  width: 6.25rem;
}

.JobHeader {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.JobHeader h4 {
  color: var(--purple);
  font-size: 11pt;
}

.JobHeader h5 {
  font-weight: 400;
  font-size: 10pt;
}

.JobTitle {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.JobDescription {
  height: 100%;
  overflow-y: auto;
}

.JobDate {
  display: flex;
  justify-content: flex-end;
}

/* ---------------- Responsive ---------------- */
@media screen and (max-width: 55.6rem) {
  header {
    gap: 1.2rem;
    justify-content: center;
  }

  header .NavOptions {
    order: 1;
  }

  header .AcessOptions .LinkButton {
    padding: 0.31rem 0.6rem;
  }

  div.JobInformation {
    box-shadow: 0 0 6.25rem rgba(0, 0, 0, 0.5);
    left: 2.5%;
    max-width: 95%;
    position: fixed;
  }

  @keyframes aparecer {
    0% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    100% {
      opacity: 0;
      transform: translate3d(0, 50%, 0);
    }
  }
}

@media screen and (max-width: 31.2rem) {
  header {
    background: transparent;
    justify-content: space-between;
    padding: 0;
    transition: background 0.3s;
  }

  header .HeaderLogo {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  header .AcessOptions,
  header .NavOptions {
    opacity: 0;
    transition: margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
    width: 100%;
  }

  header.Open .AcessOptions,
  header.Open .NavOptions {
    position: relative;
    margin-top: 0;
    opacity: 1;
  }

  header .NavOptions {
    flex-direction: column;
  }

  /* -------------- Header is open -------------- */
  header.Open {
    background-color: var(--purple);
    color: white;
    box-shadow: 0 -0.93rem 0.6rem #00000026 inset;
  }

  header.Open .LabelMenuIcon,
  header.Open .ContainerLogo {
    filter: contrast(0) brightness(2);
  }

  header.Open .LinkButton.btn-orange {
    background-color: var(--orange);
    color: white;
    border: 0.06rem solid var(--orange);
  }

  header .NavOptions a:hover {
    background-color: var(--deep-purple);
  }

  /* ------------------ Section ----------------- */
  section.HomeSection {
    grid-template-columns: 1fr;
    gap: 0.6rem;
  }

  /* ---------------- SearchJobs ---------------- */
  .SearchJobs .SearchJobsContainer {
    flex-direction: column;
    gap: 0.6rem;
    align-items: stretch;
  }

  section.HomeSection:nth-child(2n) .AniPicture {
    order: 0;
  }
}
